<!-- <ion-header>
	<ion-toolbar>
		<ion-title>loginSignup</ion-title>
	</ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
	<div class="homescreen-content" scroll="false">
		<div class="logo-bg">
			<img src="../../assets/logo.png" width="140">
		</div>
		<!-- <hr> -->
		<div>

			<form novalidate (ngSubmit)="loginSignUp.form.valid && onSubmit()" #loginSignUp="ngForm">
				<ion-item lines="full">
					<ion-input type="text" name="mobileEmail" required placeholder="Mobile or Email"
						[(ngModel)]="searchModel.mobileOrEmail"></ion-input>
				</ion-item>
				<ion-row>
					<ion-col>
						<ion-button type="submit" (click)="onSubmit()" color="custom" expand="block" class="loginBtn">
							LOGIN/SIGN UP
						</ion-button>
					</ion-col>
				</ion-row>
			</form>
		</div>
	</div>

</ion-content>
