<!-- <ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Tab 2
		</ion-title>
	</ion-toolbar>
</ion-header> -->


<ion-header>
	<ion-toolbar color="custom">
		<ion-buttons slot="start">
			<ion-button>
				<ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Services</ion-title>
		<!-- <ion-icon name="notifications-outline" class="bellFont ion-float-right ion-margin-end"></ion-icon> -->
	</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Tab 2</ion-title>
		</ion-toolbar>
	</ion-header>

</ion-content>
