<ion-content [fullscreen]="true">
	<form novalidate (ngSubmit)="validateOTP.form.valid && onSubmit()" #validateOTP="ngForm">
		<div class="logo-bg" style="min-height: 330px; max-height: 330px;">
			<ion-title style="padding-top: 20px;">
				<ion-icon name="chevron-back-outline" routerLink="/login"></ion-icon>
			</ion-title>
			<div>
				<ion-title class="ion-text-center enterOtp">Enter OTP</ion-title>
				<ion-title class="ion-text-center sendOtp">OTP send to +91 9999999999</ion-title>
				<ion-row style="margin: 20% 10%;">
					<ion-col>
						<ion-item class="item item-text-wrap w-45">
							<ion-input type="text" name="otp1" maxlength="1" #otp1="ngModel" required
								[(ngModel)]="searchModel.otp1">
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col>
						<ion-item class="item item-text-wrap w-45">
							<ion-input type="text" name="otp2" maxlength="1" required #otp2="ngModel"
								[(ngModel)]="searchModel.otp2">
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col>
						<ion-item class="item item-text-wrap w-45">
							<ion-input type="text" name="otp3" maxlength="1" required #otp3="ngModel"
								[(ngModel)]="searchModel.otp3">
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col>
						<ion-item class="item item-text-wrap w-45">
							<ion-input type="text" name="otp4" maxlength="1" required #otp4="ngModel"
								[(ngModel)]="searchModel.otp4">
							</ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-text color="danger">
					<p [hidden]="(otp1.valid && otp2.valid && otp3.valid && otp4.valid) || submitted == false"
						class="ion-padding-start">
						OTP is required
					</p>
				</ion-text>
			</div>
		</div>
		<div>
			<ion-row style="margin-top: 70%;">
				<ion-col>
					<ion-button type="submit" color="custom" expand="block" class="loginBtn">
						Verify OTP
					</ion-button>
				</ion-col>
			</ion-row>
		</div>
	</form>
</ion-content>