.dashboard-text {
	// margin-left: 7%;
	margin-top: 1%;
	float: left;
}

.bellFont {
	font-size: 25px;
}

ion-slides {
	height: 30%;
}

.columnStyle {
	height: 130px;
	border: 1px solid #000000;
	max-width: 33%;
	flex: auto;
}

.mb-10 {
	margin-bottom: 10px;
}
